@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    МИ ВлГУ, 2й корпус, 4й этаж, аудитория 407<br />
    Муром, Орловская 23<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:alanwake@mail.ru">alanwake@mail.ru</a>
</address>