@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron">
    <h1>ARM_Hotel</h1>
    <p class="lead">ARM_Hotel Это прогрессивное приложения для администраторов отелей и посетителей. Удобство, быстрота, качество - вот наши приоритеты.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Забронируйте номер</h2>
        <p>
            Вы гость? Зарегистрируйтесь в нашей системе и бронируйте лучшие номера.
            Наша система подберет вам номер идеально подходящий под ваши требования,
            а бронирование всего в несколько этапов будет быстрым и удобным.
        </p>
        <p>@Html.ActionLink("Перейти", "Index", "TakeLivings", new { isLiving = false, clientId = ViewBag.ClientId }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Начните администрирование</h2>
        <p>
            Для администратора предоставляется множется удобных функций,
            благодаря которым вы сможете отслеживать свободные номера, просматривать списки гостей и многое другое!
        </p>
        <p><a class="btn btn-default" href="/Account/LocalCabinet">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Выберите номер</h2>
        <p>
            Наш отель предоставляет гостям лучшие номера. Вы без труда подберёте номер на свой вкус,
            ведь на каждый этаж оформляли разные дизайнеры в собственном стиле. 
        </p>
        <p><a class="btn btn-default" href="/Apartments/Index">Перейти &raquo;</a></p>
    </div>
</div>